@font-face {
  font-family: 'Ephesis';
  src: url(../font/Ephesis-Regular.ttf);
}
*{
  margin: 0;
  padding: 0;
}
:root{
  font-family: Arial,system-ui,sans-serif;
  height: 100%;
  width: 100%;
  --bg-primary:#31221b;
  --fg-red:#e50003;
}
body{
  display: flex;
  height: 100%;
}
#imageContainer{
  width: clamp(600px,80%,800px);
  background: var(--bg-primary);
} 
#imageContainer img{
  width: max(300px,100%);
  height: max(94%);
}
#imageContainer div{
  text-align: center;
  padding:2% 0;
  color: #bababa;
  letter-spacing: 1.5px;
}
#signUpContainer{
  padding: 100px 50px;
  width: clamp(300px,95%,100%);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
#signUpContainer p{
  line-height: 1.5em
}
#signUpContainer div:only-of-type #logIn{
  font-weight: 600;
  color:var(--fg-red);
}

form div{
  display: flex;
  flex-direction: column;
  gap:8px
}
form div input{
  padding:6px 6px;
  border-radius: 4px;
  border:2px solid var(--bg-primary)
}
form label{
  text-transform: capitalize;
}
input[type="text"]{
  font-size: 1.1em;
}

div#submit input{
  padding: 10px 15px;
  font-size: 1.1em;
}
@media screen and (min-width:1024px) {
  form{
    display: grid;
    gap: 2vw;
    column-gap: 15vh;
    align-items: center;
  }
  form div:nth-child(2n+2 ){
    grid-column: 2;
  }
  div#submit{
    grid-column: 1 / span 2;
    align-items: center;
  }
}
@media screen and (max-width:1023px) {
  body{
    flex-direction: column;
  }
  #imageContainer{
    width: 100%;
    height: 200px;
    background-image: url(../images/fond.jpg);
  }
  #imageContainer div{
    display: none;
  }
  #imageContainer img
  {
    visibility: hidden;
    transform: rotate(90deg);
    height: 100%;
    width: 20%;
  }
  form{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
}