@font-face {
  font-family: 'Ephesis';
  src: url(../font/Ephesis-Regular.ttf);
}
*{
  margin: 0;
  padding: 0;
}
:root{
  font-family: Arial,system-ui,sans-serif;
  height: 100%;
  width: 100%;
  --bg-primary:#31221b
}
body{
  display: flex;
  height: 100%;
}
#imageContainer{
  width: clamp(600px,90%,964px);
  background: var(--bg-primary);
}
#imageContainer img{
  width: max(300px,100%);
  height: max(94%);
}
#imageContainer div{
  text-align: center;
  padding:2% 0;
  color: #bababa;
  letter-spacing: 1.5px;
}
form{
  display: flex;
  flex-wrap: wrap;
  gap:10vw
}
form div{
  display: flex;
  flex-direction: column;
}